<div class="background">
    <div class="container-fluid height width">
        <div class="row width height m-0">
            <div class="col-md-4">
                <div class="user-panel text-white text-center">
                    {{ userName }}
                </div>

                <div class="user-panel">
                    <button class="btn btn-primary">Log Out</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="user-panel-list">
                    <div *ngFor='let user of users' class="user-item mt-2 p-3 d-flex justify-content-between">
                        <a class="text-white">chat with:</a> <a class="user-over" (click)='openChat(user.email)'>{{ user.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>