.container-fluid {
    font-family: 'Merriweather', serif;
}
.colorsOdd {
    color: rgb(172, 107, 43) !important;
}
.colorsOdd:hover{
    color: rgb(131, 81, 32) !important;
}

.colorsEven {
    color: rgb(172, 107, 43) !important;
}

.userColors {
    color: rgb(142, 94, 255) !important;
}
.width {
    width: 100% !important;
    height: 250px;
    overflow-x: scroll;
    overflow: hidden;
}
.back {
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    background-color:rgb(120, 59, 177)
}

.button {
    background-color: rgba(255, 255, 255, 0.61);
    border:none;
    border-radius: 2px;
}
.userCard {
    font-size: 0.8em;
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(245,79,57,1) 67%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(67%, rgba(245,79,57,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(245,79,57,1) 67%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(245,79,57,1) 67%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(245,79,57,1) 67%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(245,79,57,1) 67%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
-webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
}

.users-panel{
    background: white;
    word-wrap: break-word;
    border-radius:6px;
    height: 100% !important;
    -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
}
.my-card {
    height: 100%;
    margin-top:-6%;
    width: 84%;
    background: rgba(169,48,199,1);
    background: -moz-linear-gradient(left, rgba(169,48,199,1) 0%, rgba(163,27,194,1) 52%, rgba(126,31,143,1) 94%, rgba(126,31,143,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,48,199,1)), color-stop(52%, rgba(163,27,194,1)), color-stop(94%, rgba(126,31,143,1)), color-stop(100%, rgba(126,31,143,1)));
    background: -webkit-linear-gradient(left, rgba(169,48,199,1) 0%, rgba(163,27,194,1) 52%, rgba(126,31,143,1) 94%, rgba(126,31,143,1) 100%);
    background: -o-linear-gradient(left, rgba(169,48,199,1) 0%, rgba(163,27,194,1) 52%, rgba(126,31,143,1) 94%, rgba(126,31,143,1) 100%);
    background: -ms-linear-gradient(left, rgba(169,48,199,1) 0%, rgba(163,27,194,1) 52%, rgba(126,31,143,1) 94%, rgba(126,31,143,1) 100%);
    background: linear-gradient(to right, rgba(169,48,199,1) 0%, rgba(163,27,194,1) 52%, rgba(126,31,143,1) 94%, rgba(126,31,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a930c7', endColorstr='#7e1f8f', GradientType=1 );
    -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
}

@media (max-width: 699.98px) { 
    .height{
        margin-top: 30%;
        height: 50%;
    }
    .userPanel-bottom{
        background: white;
        border-radius:6px;  
        height: 80%;
        width: 100%;
        margin-top: 1%;
        -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    }
    .userPanel-top{
        background: white;
        border-radius:6px;
        height: 130%;
        width: 100%;
        margin-bottom: 1%;
        -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    }
 }

@media (min-width: 700px) { 
    .height{
        height: 100%;
    }
    .userPanel-top{
        background: white;
        border-radius:6px;
        height: 30%;
        width: 100%;
        margin: 0px;
        -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    }
    .userPanel-bottom{
        background: white;
        border-radius:6px;  
        height: 68%;
        width: 100%;
        margin-top: 3%;
        margin-bottom: 15%;
        -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
        box-shadow: 0px 0px 17px -4px rgba(0,0,0,1);
    }
}

.main {
    width:100%;
    height:85%;
    margin-top:3%;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}