<div class="messenger ml-1">
    <div class="messenger-head">
        <a class='m-1'>{{ secondUser }}</a>
    </div>
    <div class="messenger-body">
            <div class="p-2" *ngFor='let message of messages' [ngClass]= "{ 'message-right' : checkRightOrLeft(message.user), 'message-left' : !checkRightOrLeft(message.user) }" role="alert">
                    {{ message.content }}
            </div>
    </div>
    <div class="messenger-footer">
        <textarea class="textarea" appDisableEnter #textArea></textarea>
    </div>
</div>