<div class="background">
    <div class="container-fluid height width">
        <div class="row width height m-0">
            <div class="col-md-12 over-flow">
                <div class="user-panel-list">
                  <div class="container d-flex justify-content-center">
                      <img src='{{ image }}' style='max-width: 200px' class="rounded-circle img-fluid align-self-center mt-4">
                  </div>
                  <div class="container d-flex justify-content-center">
                      <a class="user-over mb-3">{{ userName }}</a>
                  </div>
                  <div class="container mt-3">
                    <div class="col-md-12 mt-4">
                        <p><input class="form-control" [(ngModel)]="image"></p>  
                    </div>
                    <div class="col-md-12 d-flex justify-content-end">
                        <a class="user-over" (click)='changeAvatar()'>change avatar</a>
                    </div>
                  </div>                  
                </div>
            </div>
        </div>
    </div>
</div>

